.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    padding-top: 48px;
}

.game {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.grid-container {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 515px;
    height: 515px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button {
    padding: 15px 32px;
    border: none;
    border-radius: 12px;
}